<footer style="text-align:center; padding:20px;">

  <p>© 2026 Pawan Daga. All rights reserved</p>

  <div style="font-size:24px;">

    <a href="https://x.com/pa1daga" target="_blank" style="margin:10px;">
      <i class="fab fa-x-twitter"></i>
    </a>

    <a href="https://linkedin.com/in/pa1daga" target="_blank" style="margin:10px;">
      <i class="fab fa-linkedin"></i>
    </a>

    <a href="https://instagram.com/pa1maheshwari" target="_blank" style="margin:10px;">
      <i class="fab fa-instagram"></i>
    </a>

  </div>

</footer>
